
.background{
    background-image: url('../images/dust_scratches.png');
}
.content-wrapper {
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 140px;
}

.header{
    display: flex;
    justify-content: center;
    background: #ffffff;
    height: 80px;
    width: 100%;
    border-bottom: 2px solid #cccccc;
    border-top: 17px solid white;
  }

.header-content {
    width: 85%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    background: #ffffff;
  }

  .name {
    background:#4aaaa5;
    width: 220px;
    height: 80px;
    font-family: 'Georgia', Times, Times New Roman, serif;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 30px;
    font-weight: bold;
    
  }
  
  .nav-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 270px;
  }


  .nav-items {
    display: flex;
    background:#ffffff;
    height: 80px;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    font-size: 17px;
  }

.left-column {
    width: 55%;
    background: #ffffff;
    padding: 25px;
    margin-top: 45px;
    border: 1px solid #dddddd;

}

.profile-img{
    float: left;
    margin: 0px 15px 15px 0px;
    width: 50%;
}

.about-me {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #666666;
    line-height: 1.6;
    margin-bottom: 20px;
}
.right-column {
    width: 25%;
    height: 150px;
    background: #ffffff;
    padding: 25px;
    margin-top: 45px;
    border: 1px solid #dddddd;
}

.contact-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;

}

.icon {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 85%;
}

.title {
    color: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 25px;
    font-weight: bold;
    padding: 20px 0px 20px 0px;
}

.connect-with-me {
    color: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 0px 10px 0px;
}

.footer {
    display: flex;
    width: 100%;
    height: 60px;
    position: relative;
    bottom: 0;
    position: fixed;
    background: #666666;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 10px;
    color: #dddddd;
    border-top: 5px solid #4aaaa5;
}



input[type=text]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: medium;
    color: #666666;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

textarea{
    width: 100%;
    height: 300px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: medium;
    color: #666666;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    resize: vertical;
}

input[type=submit]{
    width: 25%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    background: #4aaaa5;
    color: #ffffff;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 16px;
}

.label{
    color: #666666;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.portfolio-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.portfolio-img-wrapper {
    width: 47%;
    position: relative;
    
}
.portfolio-img {
    width: 100%;
    margin: 20px 0px;

}
.over-label {
    background: teal;
    position: absolute;
    bottom: 40px;
    width: 100%;
    height: 10%;
    opacity: .9;
    color: white;
    padding: 10px 0px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

a:hover {
    opacity: .8;
}

.nav-links {
    text-decoration: none;
}

@media (max-width: 980px) {
    .profile-img{
        margin: 0px 15px 15px 0px;
        width: 100%;
    }
    .portfolio-wrapper {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
    .portfolio-img {
        width: 100%;
        margin: 20px 0px;
    
    }
    
    .portfolio-img-wrapper {
        width: 100%;
        position: relative;
        
    }
    
    .over-label {
        background: teal;
        position: absolute;
        bottom: 40px;
        width: 100%;
        height: 10%;
        opacity: .9;
        color: white;
        padding: 10px 0px;
        font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
}

@media (max-width: 768px){
    .content-wrapper {
        width: 85%;
        margin: auto;
        display: flex;
        margin-bottom: 140px;
        flex-wrap: wrap;
    }
    .left-column {
        width: 100%;
        background: #ffffff;
        padding: 25px;
        margin-top: 45px;
        border: 1px solid #dddddd;
    
    }
    .right-column {
        width: 100%;
        height: 150px;
        background: #ffffff;
        padding: 25px;
        margin-top: 45px;
        border: 1px solid #dddddd;
    }
    .profile-img{
        float: left;
        margin: 0px 15px 15px 0px;
        width: 50%;
    }
    .contact-img {
        display: flex;
        justify-content: left;
        align-items: center;
        width: 30%;
        margin-top: 20px;
    
    }

    .icon {
        display: flex;
        justify-content: left;
        margin: auto;
        width: 100%;
    }

    .portfolio-wrapper {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

    }
    .portfolio-img-wrapper {
        width: 47%;
        position: relative;
        
    }
    .portfolio-img {
        width: 100%;
        margin: 20px 0px;
    
    }
    
    .over-label {
        background: teal;
        position: absolute;
        bottom: 40px;
        width: 100%;
        height: 10%;
        opacity: .9;
        color: white;
        padding: 10px 0px;
        font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
}